body {
  background-color: #775644;
  margin: 0px;
  padding: 0px;
}

#header img {
  height: auto;
  max-width: 100%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  padding: 0px;
}

#header {
    background-image: url(images/raccoon_border.png);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}